/* =================================
   CHARACTER LAYER
   Cyberpunk Character Effect
================================= */

/* 캐릭터 위치 */

.character-layer {
    position:absolute;
    left:50%;
    bottom:0;
    transform:translateX(-50%);
    z-index:5;
    pointer-events:none;
}

/* 캐릭터 이미지 */

.character-img {
    width:auto;
    height:auto;
    max-width:80vw;
    max-height:100vh;
    object-fit:contain;
    filter:
    drop-shadow(0 0 20px #ffffff)
    drop-shadow(0 0 30px rgb(252, 30, 108))
    drop-shadow(0 0 200px rgb(0, 68, 255));

    animation:
    characterFloat
    4s ease-in-out infinite;
}

/* 네온 빛 */

.character-glow {
    position:absolute;
    width:400px;
    height:400px;
    background:
    radial-gradient(
        circle,
        rgba(0,245,255,0.35),
        transparent 70%
    );
    filter:blur(30px);
    top:20%;
    left:20%;
    animation:
    glowPulse
    3s infinite alternate;
}

/* UI 위에 올라오는 효과 */
.game-title,
.subtitle,
.menu-btn,
.room-input {
    position:relative;
    z-index:20;
}

/* 캐릭터 기본 움직임 */
@keyframes characterFloat {
    0% {
        transform:translateY(0);
    }

    50% {
        transform:translateY(-15px);
    }

    100% {
        transform:translateY(0);
    }
}

/* 빛 펄스 */
@keyframes glowPulse {
    from {
        opacity:0.5;
        transform:scale(0.9);
    }

    to {
        opacity:1;
        transform:scale(1.1);
    }
}

/* 등장 애니메이션 */

.character-enter {
    animation:
    characterAppear 0.8s ease forwards,
    characterFloat 4s ease-in-out infinite;
}

@keyframes characterAppear {
    from {
        opacity:0;
        transform:
        translateX(80px);
    }

    to {
        opacity:1;
        transform:
        translateX(0);
    }
}


/* 모바일 */
@media(max-width:768px){
    .character-img {
        height:55vh;
    }
}